@charset "utf-8";

@use '../lib/global'as g;
@use '../lib/vars'as *;

/*----------------------------------------------------

	各ページの独自モジュールスタイルのCSS。

	【記述ルール】
	{ ページ名(top, about等) }○○○○

	階層はルートクラスより、三階層までが基本
	【例】
	.top-sec .top-sec__ttl span {
	}
	※CSSに展開した場合

----------------------------------------------------*/

.subsidy {
  .heading-B {
    margin-top: 4.6rem;

    @include g.max-screen(g.$bp-sp) {
      margin-top: 2.6rem;
    }
  }
}

.example {

  &__ttl-area {
    display: flex;
    flex-direction: column;

    @include g.max-screen(g.$bp-sp) {
      flex-direction: column-reverse;
    }
  }

  &__ttl {
    position: relative;
    background: $gradation;
    border-radius: 4rem;
    color: #fff;
    font-size: 4.6rem;
    line-height: 1.3;
    text-align: center;
    margin-top: 4.3rem;
    padding: 1.5rem 0 3rem;

    @include g.max-screen(g.$bp-sp) {
      margin-top: 0;
      font-size: 3.2rem;
      padding: 7rem 0 1.5rem;
      border-radius: 2rem;
    }

    span {
      font-size: 2.8rem;

      @include g.max-screen(g.$bp-sp) {
        font-size: 1.8rem;
      }
    }

    &::before {
      position: absolute;
      content: "";
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22_%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%202%22%20viewBox%3D%220%200%20100%20147%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.cls-1%20%7B%20fill%3A%20none%3B%20stroke%3A%20%23fff%3B%20stroke-miterlimit%3A%2010%3B%20stroke-width%3A%208px%3B%20%7D%20.cls-2%20%7B%20fill%3A%20%23fff%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22_%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_1-2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%201%22%3E%20%3Cg%3E%20%3Crect%20class%3D%22cls-1%22%20x%3D%224%22%20y%3D%224%22%20width%3D%2292%22%20height%3D%22139%22%20rx%3D%2228.83%22%20ry%3D%2228.83%22%2F%3E%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M44.38%2C95.03c0-3.66%2C2.51-6.25%2C5.79-6.25s5.94%2C2.59%2C5.94%2C6.25-2.59%2C6.09-5.94%2C6.09-5.79-2.51-5.79-6.09ZM46.01%2C51.17l-.23-9.17h8.94l-.31%2C9.17-1.23%2C30.83h-5.93l-1.23-30.83Z%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fsvg%3E')no-repeat;
      background-size: contain;
      width: 9.2rem;
      height: 13.9rem;
      transform: translateY(-50%);
      top: 50%;
      left: 2rem;

      @include g.max-screen(g.$bp-sp) {
        width: 4.3rem;
        height: 6.5rem;
        transform: translate(-50%, 0);
        top: 1.5rem;
        left: 50%;
      }
    }
  }

  &__txt {
    font-size: 2rem;
    text-align: center;
    padding: 4rem 0 5.7rem;

    @include g.max-screen(g.$bp-sp) {
      font-size: 1.6rem;
      text-align: left;
      padding: 2rem 0 4rem;

    }

    a {
      color: #4DBDC7;
      transition: .25s all;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem;

    @include g.max-screen(g.$bp-sp) {
      flex-direction: column;
      gap: 1rem;
      margin-top: 3.8rem;
    }

    li {
      width: calc(100% / 2 - 1.4rem);
      border: 1px solid #E4E4E5;
      font-size: 2rem;
      text-align: center;

      @include g.max-screen(g.$bp-sp) {
        width: 100%;
        font-size: 1.5rem;
      }
    }

    &-ttl {
      width: 80%;
      margin: 0 auto;
      border-bottom: 1px solid #4DBDC7;
      padding: 1rem 0 .5rem;

      @include g.max-screen(g.$bp-sp) {
        width: 50%;
        border-bottom: 2px solid #4DBDC7;
        padding: .5rem 0 0;
      }
    }

    &-price {
      background: $gradation;
      color: #fff;
      font-size: 2.2rem;
      font-weight: 700;
      padding: 1rem 0;

      @include g.max-screen(g.$bp-sp) {
        font-size: 1.6rem;
      }
    }
  }

}

.example-cont {
  padding-top: 9.2rem;

  @include g.max-screen(g.$bp-sp) {
    padding-top: 5.2rem;
  }

  &__ttl {
    background-color: #03003F;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3.5rem;

    @include g.max-screen(g.$bp-sp) {
      font-size: 1.8rem;
      margin-bottom: 2.6rem;
    }
  }

  &__txt {
    font-size: 1.5rem;

    @include g.max-screen(g.$bp-sp) {
      text-align: left;
    }

    span {
      color: #4DBDC7;
      font-weight: 700;
    }
  }

  &__list {
    font-size: 1.2rem;
    margin-top: 2rem;

    @include g.max-screen(g.$bp-sp) {
      font-size: 1rem;
    }
  }

  &__img {
    width: 100%;
    margin: 3rem auto 4.6rem;

    @include g.max-screen(g.$bp-sp) {
      margin: 2.5rem auto 3.5rem;
    }

    &--small {
      width: 70%;
      margin: 5.8rem auto 0;

      @include g.max-screen(g.$bp-sp) {
        width: 60%;
        margin: 3.6rem auto 2.6rem;
      }
    }

    &--s-small {
      width: 60%;
      margin: 2.9rem auto 4.8rem;

      @include g.max-screen(g.$bp-sp) {
        width: 50%;
        margin: 1rem auto 1.5rem;
      }
    }
  }

  &__table-area {
    margin-bottom: 4rem;

    &--pink {
      table {

        thead th {
          background: #FBE8E7;
        }
      }
    }
  }

  &__table {
    @include g.max-screen(g.$bp-sp) {
      overflow-x: scroll;
    }
  }

  table {
    width: 100%;
    border: 1px solid #CECECF;
    border-collapse: separate;
    border-radius: 3rem;
    text-align: center;

    @include g.max-screen(g.$bp-sp) {
      border-radius: 2rem;
      min-width: 43.3rem;
    }
  }


  .table-radius-top {
    th {
      &:first-of-type {
        border-radius: 3rem 0 0 0;

        @include g.max-screen(g.$bp-sp) {
          border-radius: 2rem 0 0 0;
        }
      }

      &:last-of-type {
        border-radius: 0 3rem 0 0;

        @include g.max-screen(g.$bp-sp) {
          border-radius: 0 2rem 0 0;
        }
      }
    }
  }

  .table-radius-bottom {
    th {
      &:first-of-type {
        border-radius: 0 0 0 3rem;

        @include g.max-screen(g.$bp-sp) {
          border-radius: 0 0 0 2rem;
        }
      }

      &:last-of-type {
        border-radius: 0 0 3rem 0;

        @include g.max-screen(g.$bp-sp) {
          border-radius: 0 0 2rem 0;
        }
      }
    }
  }

  .table-three-box {
    width: 25%;

    @include g.max-screen(g.$bp-sp) {
      width: auto;
    }
  }

  .table-num {
    font-size: 1.8rem;

    @include g.max-screen(g.$bp-sp) {
      font-size: 1rem;
    }
  }

  td,
  th {
    padding: 1.5rem 0;
    border: 1px solid #CECECF;
    vertical-align: middle;
    line-height: 1.2;

    @include g.max-screen(g.$bp-sp) {
      padding: .5rem 0;
    }
  }

  tr {
    font-size: 1.6rem;

    @include g.max-screen(g.$bp-sp) {
      font-size: 1rem;
    }

    span {
      font-size: 1.2rem;

      @include g.max-screen(g.$bp-sp) {
        font-size: 1rem;
      }
    }
  }

  thead th {
    background: #CDECEF;
  }

  th {
    font-weight: normal;
  }

  &__notice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0 2rem;

    @include g.max-screen(g.$bp-sp) {
      flex-direction: column;
      align-items: baseline;
      margin: 2rem 0 1rem;
    }

    &-cate {
      font-size: 1.8rem;

      @include g.max-screen(g.$bp-sp) {
        font-size: 1.3rem;
      }

      span {
        background: #CDECEF;
        border-radius: 5rem;
        padding: .5rem 1.5rem;

        @include g.max-screen(g.$bp-sp) {
          margin-right: 1rem;
        }
      }

      &--pink {
        span {
          background: #FBE8E7;
        }
      }
    }

    &-txt {
      font-size: 1.2rem;

      @include g.max-screen(g.$bp-sp) {
        padding-top: .5rem;
      }
    }
  }

  &__sub-ttl {
    color: #4DBDC7;
    font-size: 2.4rem;
    font-weight: 700;

    @include g.max-screen(g.$bp-sp) {
      font-size: 2rem;
      text-align: center;
    }


    &--pink {
      color: #EF929B;
    }
  }

  &__flex {
    display: flex;
    gap: 5rem;

    @include g.max-screen(g.$bp-sp) {
      flex-direction: column;
      gap: 1.7rem;
    }

    &-ttl {
      font-size: 1.5rem;
      margin-bottom: .5rem;

      span {
        font-size: 2rem;
        color: #4DBDC7;
      }
    }

    &-img {
      @include g.max-screen(g.$bp-sp) {
        width: 40%;
        margin: 0 auto;
      }
    }

    &-list {
      font-size: 1.2rem;
      margin-top: 2.5rem;

      @include g.max-screen(g.$bp-sp) {
        font-size: 1rem;
        margin-top: 1.3rem;
      }
    }
  }

  &__box-txt {
    background: #FBE8E7;
    font-size: 1.5rem;
    padding: 2rem 3rem;
    margin: 2.4rem 0 4rem;

    @include g.max-screen(g.$bp-sp) {
      font-size: 1.4rem;
      padding: 1rem;
      margin: 2rem 0;
    }
  }

  &__reference {
    font-size: 1.2rem;
    text-align: right;
    margin: 6rem 0 8rem;

    @include g.max-screen(g.$bp-sp) {
      margin: 1rem 0 3rem;
    }
  }
}