@charset "utf-8";
@use '../lib/global' as g;

#header {
	background: #0b5b95;
	z-index: 20;
}

#header > .inner {
	align-items: center;
	display: flex;
	padding-bottom: 3.6rem;
	padding-top: 4rem;
	justify-content: space-between;
}

.header-logo {
	line-height: 1.2;
	@include g.max-screen(g.$bp-sp) {
		margin-bottom: 8px;
		text-align: center;
	}
}

.header-logo a {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 3.6rem;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	@include g.max-screen(g.$bp-sp) {
		font-size: 2.6rem;
	}
}

.header-logo a:hover {
	opacity: 0.6;
}

.header-sub {
	color: #fff;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.71429;
	margin-top: 1rem;
	padding: 0 3.8rem;
	@include g.max-screen(g.$bp-sp) {
		font-size: 1rem;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
}

.header-nav {
	@include g.max-screen(g.$bp-sp) {
		display: none;
	}
}

.header-nav > .inner {
	padding-bottom: 2.4rem;
	padding-top: 3.4rem;
	@include g.max-screen(g.$bp-sp) {
		display: block;
		padding-bottom: 1.6rem;
		padding-top: 2rem;
	}
}

.header-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header-nav li {
	margin-right: 4rem;
}

.header-nav li:last-child {
	margin-right: 0;
}

.header-nav li > a {
	color: #fff;
	display: block;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.header-nav li > a:hover {
	opacity: 0.6;
}

.header-nav li > a::before {
	content: "\f015";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 8px;
}

.header-nav li:nth-child(1) > a::before {
	content: "\f015";
}

.header-nav li:nth-child(2) > a::before {
	content: "\f02d";
}

.header-nav li:nth-child(3) > a::before {
	content: "\f0f4";
}

.header-nav li:nth-child(4) > a::before {
	content: "\f109";
}

.header-nav li:nth-child(5) > a::before {
	content: "\f0e0";
}

.header-nav li.is-home > a::before {
	content: "\f015";
}

.header-nav li.is-book > a::before {
	content: "\f02d";
}

.header-nav li.is-cup > a::before {
	content: "\f0f4";
}

.header-nav li.is-pc > a::before {
	content: "\f109";
}

.header-nav li.is-mail > a::before {
	content: "\f0e0";
}

.header--clone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0%);
  transition: 0.25s;

  &.hidden {
    transform: translateY(-100%);
  }

  &.is-top {
    transform: translateY(-100%) !important;
  }
}

.drawer {
	display: none;
	@include g.max-screen(g.$bp-sp) {
		display: block;
	}
}

.drawer-icon {
	color: #fff;
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
	right: 1.7rem;
	text-align: center;
	top: 2.9rem;
	z-index: 41;
}

.drawer-open {
	display: block;
}

.m_checked .drawer-open {
	display: none;
}

.drawer-close {
	display: none;
}

.m_checked .drawer-close {
	display: block;
}

.drawer-content {
	background: rgba(51, 51, 51, 0.9);
	height: 100vh;
	left: 0;
	opacity: 0;
	overflow: auto;
	padding: 10rem 1.6rem 1.6rem;
	position: fixed;
	text-align: left;
	top: 0;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: 40;
}

.m_checked .drawer-content {
	opacity: 1;
	visibility: visible;
}

.drawer-nav li a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-left: 6px solid transparent;
	color: #fff;
	display: block;
	font-size: 1.6rem;
	padding: 2rem 1.2rem 2.4rem 0;
	text-decoration: none;
}

.drawer-nav li a::before {
	content: "\f015";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 8px;
}

.drawer-nav li:nth-child(1) > a::before {
	content: "\f015";
}

.drawer-nav li:nth-child(2) > a::before {
	content: "\f02d";
}

.drawer-nav li:nth-child(3) > a::before {
	content: "\f0f4";
}

.drawer-nav li:nth-child(4) > a::before {
	content: "\f109";
}

.drawer-nav li:nth-child(5) > a::before {
	content: "\f0e0";
}